<% wrap_layout :curious do %>
  <div class="book">
    <div class="my-4">
      <h1><%= current_page.data.title %></h1>

      <h2><%= current_page.data.subtitle%></h2>

      <div class="row">
        <div class="col-12 col-lg-6">
          <p class="mb-1 mb-lg-0 text-blue">Par <b><%= current_page.data.author %></b> aux éditions <b><%= current_page.data.publisher %></b></p>
        </div>

        <div class="col-12 col-lg-6 text-lg-end">
          <% current_page.data.tags.split(/\s*,\s*/).each do |tag| %>
            <% category = data.categories.find { _1.tag == tag } %>
            <span class="badge rounded-pill text-bg-<%= category.title_color %>"><%= category.title %></span>
          <% end %>
        </div>
      </div>
    </div>

    <hr>

    <%= yield %>

    <div class="row mt-4">
      <div class="offset-3 col-6 offset-lg-4 col-lg-4">
        <img src="<%= current_page.data.cover_url %>" class="img-fluid" alt="<%= current_page.data.title %>">
      </div>
    </div>
  </div>
<% end %>
