<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= "#{current_page.data.title} | " if current_page.data.title %>Raphaële Rodellar Thérapeute Réflexologue Bordeaux</title>
<meta name="title" property="og:title" content="Raphaële Rodellar Thérapeute Réflexologue Bordeaux">
<meta name="description" property="og:description" content="Se mettre à l'écoute de son corps, se relâcher, se relaxer, se recharger, ... Venez profiter de tous les bienfaits de la réflexologie plantaire !">
<meta name="image" property="og:image" content="<%= image_url('og_image.jpg') %>">
<meta name="author" content="Raphaële Rodellar">
<meta property="og:type" content="website">
<meta property="og:site_name" content="raphaele-rodellar">
<meta property="og:url" content="<%= site_url %>">

<%= favicon_tag('favicon.ico') %>

<meta name="robots" content="<%= config[:robots_content] %>">

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
>

<%= stylesheet_link_tag 'main' %>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
  crossorigin="anonymous"
></script>

<script src="https://kit.fontawesome.com/e91391ba95.js" crossorigin="anonymous"></script>

<% if content_for?(:assets) %>
  <%= yield_content :assets %>
<% end %>
