<nav id="navbar" class="navbar navbar-expand-lg bg-white fixed-top">
  <div class="container-fluid">
    <div data-bs-toggle="offcanvas">
      <a class="navbar-brand d-lg-none" href="<%= root_url_or_scroll_to_top(current_page.url) %>">
        <%= image_tag('logo_raphaele_rodellar.png', alt: 'Raphaële Rodellar', class: 'height-navbar') %>
      </a>
    </div>
    <div
      class="navbar-toggler d-lg-none navbar-burger"
      data-bs-target="#navbarNav"
      data-bs-toggle="offcanvas"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="offcanvas offcanvas-start mt-lg-0" id="navbarNav">
      <div class="offcanvas-body justify-content-lg-center">
        <ul class="navbar-nav ps-3 text-uppercase lh-lg align-items-lg-center" data-bs-dismiss="offcanvas">
          <li class="nav-item d-lg-none">
            <a
              class="nav-link gotham-black ls-2"
              aria-current="page"
              href="https://santé-vous.fr/raphaële"
              target="sante-vous"
            >
              Réserver
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-lg-0 me-lg-2 me-xl-3" aria-current="page" href="<%= site_url('#section1') %>"
            >
              Philosophie
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-lg-0 mx-lg-2 mx-xl-3" aria-current="page" href="<%= site_url('#section2') %>"
            >
              Principe
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-lg-0 mx-lg-2 mx-xl-3" aria-current="page" href="<%= site_url('#section3') %>"
            >
              Pour qui ?
            </a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a
              class="nav-link navbar-brand no-scrollspy p-lg-0 mx-lg-3"
              href="<%= root_url_or_scroll_to_top(current_page.url) %>"
            >
              <%= image_tag('logo_raphaele_rodellar.png', alt: 'Raphaële Rodellar', class: 'height-navbar') %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-lg-0 mx-lg-2 mx-xl-3" aria-current="page" href="<%= site_url('#section4') %>"
            >
              En pratique
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-lg-0 mx-lg-2 mx-xl-3" aria-current="page" href="<%= site_url('#section5') %>"
            >
              À propos
            </a>
          </li>
          <li class="nav-item d-none d-lg-block mx-lg-2 mx-xl-3 ramps">
            <a
              class="nav-link no-scrollspy p-lg-0"
              aria-current="page"
              href="https://santé-vous.fr/raphaële"
              target="sante-vous"
            >
              Réserver
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link no-scrollspy p-lg-0 ms-lg-2 ms-xl-3 fs-5"
              href="https://www.instagram.com/raphaelerodellar/"
              target="instagram"
            >
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
