<div class="book">
  <div class="my-4">
    <h1><%= @book.title %></h1>

    <% if @book.subtitle.present? %>
      <h2><%= sanitize(@book.subtitle, tags: %w[sup sub em strong]) %></h2>
    <% end %>

    <div class="row">
      <div class="col-12 col-lg-6">
        <p class="mb-1 mb-lg-0 text-blue">
          Par <b><%= @book.author %></b>
          <% if @book.publisher.present? %>
            aux éditions <b><%= @book.publisher %></b>
          <% end %>
        </p>
      </div>

      <div class="col-12 col-lg-6 text-lg-end">
        <% @book.tags_list.each do |tag| %>
          <% if (category = BookCategory.find_by_tag(tag)) %>
            <span class="badge rounded-pill text-bg-<%= category.title_color %>"><%= category.title %></span>
          <% else %>
            <span class="badge rounded-pill bg-secondary"><%= tag %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <hr>

  <%= render_markdown(@book.content) %>

  <div class="row mt-4">
    <div class="offset-3 col-6 offset-lg-4 col-lg-4">
      <%= image_tag @book.cover_url, class: "img-fluid", alt: @book.title %>
    </div>
  </div>
</div>
