---
title: Dans ma Bibliothèque
---

<h1><span class="ranille-calt">D</span>ans <span class="ranille-ss01">m</span>a <span class="ranille-calt">B</span>ibliothèqu<span class="ranille-calt">e</span></h1>

<div class="bookcase">

  <% data.categories.each do |category| %>
    <div class="mt-5">
      <h2 class="text-<%= category.title_color %> mb-3"><%= category.title %></h2>
      <div class="scrolling-wrapper">
        <% blog.articles.select { _1.data.tags.include?(category.tag) }.each do |book| %>
          <div class="book">
            <% link_to book do %>
              <img src="<%= book.data.cover_url %>" class="book-cover" alt="<%= book.data.title %>">
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="w-100 py-2 bg-<%= category.shelf_color %>"></div>
    </div>
  <% end %>
</div>
