<div class="overflow-hidden">
  <div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-smooth-scroll="true" data-bs-root-margin="0px 0px -40%">
    <section class="py-5 position-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="h1 mb-4 text-center text-blue">
              Être acteur d<span class="ranille-calt">e</span> sa <span class="ranille-ss01">s</span>a<span
                class="ranille-ss02"
                >n</span
              >té
            </div>
          </div>
          <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <div class="h3 mb-0 lh-base text-center">
              Durant <span class="highlight"> une séance de réflexologie plantaire</span>, nous cheminons,
              <span class="highlight">nous explorons ensemble</span>
              vos blocages et vos tensions pour les dénouer
            </div>
          </div>
        </div>
      </div>

      <%= image_tag('shape_pink_light.png', class: 'header-shape-pink-light') %>
      <%= image_tag('dot_coral.png', class: 'header-dot-coral') %>
      <%= image_tag('shape_blue.png', class: 'header-shape-blue') %>
    </section>

    <section id="section1" class="bg-cream py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div id="raphaele"></div>
          </div>
          <div class="col-12 col-lg-6">
            <h1 class="ranille-liga-off my-5 mt-lg-0">
              <div class="text-green-light">
                <span class="ranille-ss01">R</span>aphaël<span class="ranille-calt">e</span>
              </div>
              <div class="text-pink">Théra<span class="ranille-ss02">p</span>eute</div>
              <div class="text-coral">
                <span class="ranille-ss01">R</span>éflexo<span class="ranille-ss01">l</span>ogu<span
                  class="ranille-calt"
                  >e</span
                >
              </div>
            </h1>
            <p>
              J'aborde mon travail de réflexologue plantaire comme
              <span class="montserrat-semibold">l'art de prendre soin.</span>
            </p>
            <p>
              <span class="montserrat-semibold">Le toucher et l'écoute subtile des zones réflexes de vos pieds </span>
              me permettent de créer
              <span class="montserrat-semibold">un dialogue avec votre corps à travers vos pieds.</span>
            </p>
            <p>
              Ces pieds qui nous portent, nous ancrent, nous donnent des ailes, nous font danser, et parfois trébucher.
              <span class="montserrat-semibold"
                >Ils nous connectent au monde, tout en étant le reflet de notre santé intérieure.</span
              >
            </p>
            <p>Sous mes doigts les points s'assouplissent, me guidant vers une zone suivante à travailler.</p>
            <p class="highlight">
              Chaque séance, <span class="montserrat-semibold">chaque voyage, est unique et passionnant.</span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="section2" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 align-self-center">
            <h2 class="mb-5">
              <div class="text-green-light"><span class="ranille-salt">S</span>e mettre</div>
              <div class="text-pink">
                <span class="ranille-calt">A</span> <span class="ranille-ss01">l</span>'écout<span class="ranille-calt"
                  >e</span
                >
              </div>
              <div class="text-coral">
                <span class="ranille-ss02">D</span>e so<span class="ranille-ss01">n</span> cor<span class="ranille-ss02"
                  >p</span
                >s
              </div>
            </h2>
          </div>
          <div class="col-12 col-lg-6">
            <p>
              Dedans comme dehors, quelle que soit l’échelle à laquelle on regarde, tout est interconnecté et
              interdépendant. Nous ne faisons pas exception.
            </p>
            <p>
              Chacun d’entre nous développe, au gré de ses expériences, à chaque instant,
              <span class="montserrat-semibold"> son propre écosystème intérieur. </span>
            </p>
            <p>
              Quand le corps « parle », il parle certes de lui, mais aussi de l’ensemble de votre écosystème.
              <span class="montserrat-semibold"
                >Il est bien plus qu’une machine ou qu’une suite de réactions chimiques.</span
              >
            </p>
            <p>
              Et si vous preniez le temps de l’écouter d’une autre oreille ? De partir à sa découverte. De
              <span class="montserrat-semibold">
                comprendre le langage qui s’est créé entre lui et votre histoire, votre environnement, vos émotions et
                vos pensées.</span
              >
            </p>
            <p class="highlight">
              La réflexologie plantaire thérapeutique
              <span class="montserrat-semibold"> prend ici tout son sens. </span>
            </p>
            <div class="mt-5 mb-3 text-center">
              <a href="https://sante-vous.fr/raphaele" target="sante-vous" class="btn-cta">Réservez votre séance</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section3">
      <div class="row">
        <div class="col-12 col-lg-6 bg-pink text-pink-light d-flex align-items-center">
          <div class="container py-5 p-lg-5 d-flex justify-content-lg-end">
            <h2>
              <div>
                <span class="ranille-ss01">L</span>a ré<span class="ranille-salt">f</span>lexo<span class="ranille-ss01"
                  >l</span
                >ogi<span class="ranille-calt">e</span>
              </div>
              <div><span class="ranille-calt">P</span>ou<span class="ranille-ss01">r</span></div>
              <div>Qui ?</div>
            </h2>
          </div>
        </div>

        <div class="col-12 col-lg-6 bg-pink-light text-green item">
          <div class="container py-5 p-lg-5">
            <p>
              Pour vous, pour simplement
              <span class="montserrat-semibold">prendre soin de vous et de votre santé de manière globale !</span>
            </p>
            <ul>
              <li>
                Quand
                <span class="montserrat-semibold">votre corps vous dit que vous tirez sur la corde </span>(fatigue,
                stress, troubles du sommeil, troubles digestifs, douleurs chroniques, …)
              </li>
              <li>
                Quand vous avez besoin de <span class="montserrat-semibold">vous reconnecter à vous-même</span>
                (post-partum, parentalité, aidance, surmenage …)
              </li>
              <li>
                Pour <span class="montserrat-semibold">vous accompagner dans votre vie de femme</span> (endométriose,
                grossesse, ménopause, …)
              </li>
              <li>
                En <span class="montserrat-semibold">complément de la médecine occidentale</span>, avec l’accord de
                votre médecin, pour soulager les effets secondaires des traitements ou les symptômes (cancers, maladies
                neuro-dégénératives, ...)
              </li>
            </ul>

            <p class="mb-0">
              <span class="montserrat-semibold">La réflexologie est ouverte à tous</span>. Chaque séance est
              personnalisée. N’hésitez pas à m’appeler pour toute question.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 order-lg-last bg-pink text-pink-light d-flex align-items-center">
          <div class="container py-5 p-lg-5">
            <h2>
              <div>
                <span class="ranille-ss01">L</span>a ré<span class="ranille-salt">f</span>lexo<span class="ranille-ss01"
                  >l</span
                >ogi<span class="ranille-calt">e</span>
              </div>
              <div>Commen<span class="ranille-calt">t</span></div>
              <div>Ça ma<span class="ranille-ss02">r</span>che ?</div>
            </h2>
          </div>
        </div>

        <div class="col-12 col-lg-6 order-lg-first bg-pink-light text-green">
          <div class="container py-5 p-lg-5">
            <p>
              Le dessous du pied est relié à l'ensemble de notre corps selon
              <span class="montserrat-semibold">une cartographie précise.</span>

              Sous mes doigts, certaines zones se révèlent dures, creuses, douloureuses, …
            </p>
            <p>
              Elles évoluent au fur et à mesure que
              <span class="montserrat-semibold">le corps et son énergie sont mis en mouvement.</span>
            </p>
            <p>
              Les tensions et les blocages du <span class="montserrat-semibold">corps</span> se détendent, mais
              également les <span class="montserrat-semibold">émotions</span> qui se sont cristallisées à l’intérieur,
              et ainsi les tensions et les blocages de <span class="montserrat-semibold">l’esprit</span>.
            </p>
            <p>La capacité d’auto-guérison du corps est stimulée, les différents systèmes ré-harmonisés.</p>
            <p class="mb-0">
              <span class="montserrat-semibold">Vous repartez le pas plus léger</span>, parfois comme sur un nuage,
              parfois plein⸱e d’énergie, parfois très relâché⸱e…
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="section4" class="py-5 py-lg-6 position-relative">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div id="practice"></div>
          </div>

          <div class="col-12 col-lg-6">
            <h2 class="my-5 mt-lg-0 text-green-light">
              <span class="ranille-calt">E</span>n pr<span class="ranille-ss02">a</span>tiqu<span class="ranille-calt"
                >e</span
              >
            </h2>
            <p>
              <span class="montserrat-semibold highlight">Séance Adulte</span> – Durée 1h – Tarif
              <span class="montserrat-semibold highlight">80€</span>
            </p>
            <p>
              <span class="montserrat-semibold highlight">Séance Enfant</span> – Durée 45min – Tarif
              <span class="montserrat-semibold highlight">60€</span>
            </p>
            <p>
              <i class="fa-solid fa-socks text-coral"></i>
              Vous restez habillé⸱e, vous n’ôtez que vos chaussures et vos chaussettes.
            </p>
            <p>
              <i class="fa-solid fa-map-pin text-coral"></i>
              <span>Le cabinet est situé aux Chartrons, </span>
              <a href="https://goo.gl/maps/1tRWcUkNcBFojexX8" target="maps">59 cours de Verdun, 33000 Bordeaux</a>.
            </p>
            <p>
              <i class="fa-solid fa-euro-sign text-coral"></i>
              Règlement par chèque ou en espèces.
            </p>
            <p>
              Les séances sont <span class="montserrat-semibold">individuelles</span>, en dehors des bébés qui sont
              accompagnés de leur parent.
            </p>
            <p>
              <span class="montserrat-semibold">Pour les enfants</span>, nous décidons ensemble, à chaque séance, si
              l’adulte reste présent.
            </p>
            <p>
              <span class="montserrat-semibold">Le nombre de séances dépend de chaque personne</span>
              et <span class="montserrat-semibold">de chaque cas</span>. Je recommande en général de
              <span class="montserrat-semibold">faire 3 séances</span> dans un temps pouvant aller de quelques semaines
              à quelques mois, puis d'échanger sur votre besoin.
            </p>
            <div class="mt-5 mb-3 text-center">
              <a href="https://sante-vous.fr/raphaele" target="sante-vous" class="btn-cta">Réservez votre séance</a>
            </div>
          </div>
        </div>
      </div>

      <%= image_tag('shape_green_light.png', class: 'section4-shape-green-light') %>
      <%= image_tag('shape_blue.png', class: 'section4-shape-blue') %>
      <%= image_tag('dot_coral.png', class: 'section4-dot-coral') %>
      <%= image_tag('shapelet_pink_light.png', class: 'section4-shapelet-pink-light') %>
    </section>

    <section id="section5" class="bg-cream py-5 position-relative">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 align-self-center">
            <h2 class="mb-5">
              <div class="text-green-light">
                To<span class="ranille-ss01">u</span>t arrête<span class="ranille-ss02">r</span>
              </div>
              <div class="text-pink">
                <span class="ranille-calt">P</span>our <span class="ranille-ss01">m</span>asser de<span
                  class="ranille-ss01"
                  >s</span
                >
                pied<span class="ranille-ss01">s</span>
              </div>
              <div class="text-coral">
                T<span class="ranille-calt">o</span>ute <span class="ranille-ss01">l</span>a jo<span
                  class="ranille-ss03"
                  >u</span
                >rné<span class="ranille-calt">e</span>
              </div>
            </h2>
          </div>

          <div class="col-12 col-lg-6">
            <p>
              Comme souvent, <span class="montserrat-semibold">c’est une rencontre qui a changé ma perspective</span>.
            </p>
            <p>
              Un jour j’ai croisé la route de <span class="montserrat-semibold">Gwenn Libouban</span>. Une séance de
              réflexologie plantaire avec elle, puis un stage d’initiation en juillet 2019 et une évidence.
              <span class="montserrat-semibold">En août 2019, ma décision était prise.</span>
            </p>
            <p>
              J’ai, la plupart du temps, adoré mes 15 années d’ingénieur, de chef de projet, de manager. J’y ai mis
              beaucoup d’énergie, et souvent de la passion. J’aurais pu continuer, mais
              <span class="montserrat-semibold"> la réflexologie m’est tombée dessus sans crier gare. </span>
            </p>
            <p>
              Je voulais saisir ma chance et apprendre de cet extra-ordinaire duo que forment
              <span class="montserrat-semibold"> Gwenn Libouban et Paolo Malvarosa</span>. Thérapeutes profondément
              humains et vivants, ils ont acquis une véritable finesse et justesse dans l’écoute, le toucher et
              l’accompagnement. Ils m’ont ouvert
              <span class="montserrat-semibold"
                >un monde dont je n’imaginais ni la complexité, ni la puissance, ni la grâce.</span
              >
            </p>
            <p>
              <span class="montserrat-semibold">Le chemin de cette formation </span>pour devenir thérapeute réflexologue
              plantaire est volontairement long, souvent confrontant, et
              <span class="montserrat-semibold">magnifiquement transformateur</span>.
            </p>
            <p>
              Après 3 ans de cette folle histoire avec eux et 11 autres élèves-apprentis,
              <span class="montserrat-semibold"
                >la fabuleuse aventure de l’art du toucher ne faisait que commencer.</span
              >
            </p>
            <p class="mb-0">
              <span class="highlight">
                La réflexologie plantaire thérapeutique
                <span class="montserrat-semibold">c’est bien plus que masser des pieds</span>...
              </span>
            </p>
          </div>
        </div>
      </div>
      <%= image_tag('shape_blue.png', class: 'section5-shape-blue') %>
      <%= image_tag('dot_coral.png', class: 'section5-dot-coral') %>
      <%= image_tag('shape_green_light.png', class: 'section5-shape-green-light') %>
    </section>

    <section id="section6" class="py-5 bg-green text-pink-light text-center">
      <div class="container">
        <div class="row gy-4">
          <div class="col-12">
            <div>Pour toute question, n’hésitez pas à me contacter.</div>
            <div>
              <a
                class="text-reset text-decoration-none"
                href="mailto:%22Rapha%C3%ABle%20Rodellar%22%20%3Craphaele@hey.com%3E"
                target="mail"
                >raphaele@hey.com</a
              >
            </div>
            <div><a class="text-reset text-decoration-none" href="tel:+33670935051">06 70 93 50 51</a></div>
          </div>

          <div class="col-12">
            <div>
              <a class="text-reset text-decoration-none" href="https://goo.gl/maps/1tRWcUkNcBFojexX8" target="maps">
                Maison Ose, 59 cours de Verdun, 33000 Bordeaux
              </a>
            </div>
            <div>Tram C · Paul Doumer | Tram B · CAPC</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
