---
title: Voyage au cœur d'une séance
---

<div class="container content voyage">
  <h1>
    <span class="ranille-calt">V</span>o<span class="ranille-ss02">y</span><span class="ranille-salt">a</span><span class="ranille-ss03">g</span>e <span class="ranille-salt">a</span>u cœ<span class="ranille-ss01">u</span>r <span class="ranille-ss02">d</span>'une sé<span class="ranille-salt">a</span><span class="ranille-ss02">n</span>c<span class="ranille-calt">e</span>
  </h1>

  <p>Cliquez sur une scène pour la retourner</p>

  <div class="row g-0">

    <%- 24.downto(1).each do |day| %>
      <div class="col-4">
        <div class="flip-card border border-white cursor-pointer user-select-none" onclick="this.classList.toggle('flipped')">
          <div class="front" data-bs-toggle="modal" data-bs-target="#<%= '%02i' % day %>Modal">
            <img src="https://res.cloudinary.com/fcatuhe/image/upload/c_scale,w_512/v1703937406/raphaele-rodellar.fr/voyage/<%= '%02i' % day %>.jpg" class="img-fluid">
          </div>
          <div class="back">
            <img src="https://res.cloudinary.com/fcatuhe/image/upload/c_scale,w_512/v1703937406/raphaele-rodellar.fr/voyage/<%= '%02i' % day %>.jpg" class="img-fluid opacity-10">
            <div class="overlay text-justify">
              <%= partial "partials/voyage/#{'%02i' % day}" %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="<%= '%02i' % day %>Modal" tabindex="-1" aria-labelledby="<%= '%02i' % day %>ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered user-select-none">
          <div class="modal-content">
            <div class="modal-body">
              <div class="text-justify">
                <%= partial "partials/voyage/#{'%02i' % day}" %>
              </div>
              <div class="text-end montserrat-semibold text-blue cursor-pointer text-small text-uppercase" data-bs-dismiss="modal">Fermer</div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="py-5"></div>
</div>
